In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
from datetime import datetime,timedelta
from sklearn.preprocessing import LabelEncoder as le
from sklearn.preprocessing import StandardScaler as ss
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression as LR
from sklearn.metrics import r2_score as r2
from sklearn.metrics import accuracy_score as AS
from sklearn.metrics import mean_squared_error as mse

In [2]:
data=pd.read_csv("train-chennai-sale.csv")
data

,PRT_ID,AREA,INT_SQFT,DATE_SALE,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,...,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,INF_PRICE,1+0.04,"POWER(Z,Y)"
0,P09411,Anna Nagar,1986,19-12-2006,2.0,1.0,5,Ab Normal,No,22-12-1995,...,4.9,4.2,2.5,3.765,760122,304049,21717770,4.067698e+07,1.04,1.872981
1,P05346,Velachery,1855,13-03-2010,3.0,2.0,5,Family,No,18-03-1988,...,4.7,3.9,3.6,4.010,356321,77042,9630290,1.541840e+07,1.04,1.601032
2,P00219,Chrompet,1220,11-09-2014,2.0,1.0,4,Partial,No,12-09-2009,...,4.5,2.6,3.1,3.320,409027,198316,12394750,1.696307e+07,1.04,1.368569
3,P09105,Chrompet,1167,05-04-2007,1.0,1.0,3,Partial,No,12-04-1979,...,3.6,2.1,2.5,2.670,263152,33955,8488790,1.528783e+07,1.04,1.800944
4,P09679,Velachery,1847,13-03-2006,3.0,2.0,5,Family,No,15-03-1996,...,2.4,4.5,2.1,3.260,604809,235204,16800250,3.146655e+07,1.04,1.872981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104,P05438,T Nagar,1733,24-02-2010,1.0,1.0,4,Ab Normal,Yes,02-03-1985,...,3.4,3.7,2.1,2.890,702058,312026,19501600,3.122269e+07,1.04,1.601032
7105,P05042,Karapakkam,666,11-05-2010,1.0,1.0,2,Adj Land,Yes,20-05-1974,...,3.2,4.4,2.5,3.280,273317,74541,6211750,9.945212e+06,1.04,1.601032
7106,P10000,Velachery,1897,08-04-2004,3.0,2.0,5,Family,Yes,11-04-1995,...,3.6,4.5,3.3,3.920,346191,205551,10818480,2.191626e+07,1.04,2.025817
7107,P06508,Karapakkam,787,03-08-2009,1.0,1.0,2,Partial,Yes,11-08-1977,...,4.6,3.8,4.1,4.160,425350,119098,8507000,1.416478e+07,1.04,1.665074
7108,P09794,Velachery,1896,13-07-2005,3.0,2.0,5,Partial,Yes,24-07-1961,...,3.1,3.5,4.3,3.640,349177,79812,9976480,1.943319e+07,1.04,1.947900

In [3]:
data.head(7)

,PRT_ID,AREA,INT_SQFT,DATE_SALE,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,...,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,INF_PRICE,1+0.04,"POWER(Z,Y)"
0,P09411,Anna Nagar,1986,19-12-2006,2.0,1.0,5,Ab Normal,No,22-12-1995,...,4.9,4.2,2.5,3.765,760122,304049,21717770,40676975.91,1.04,1.872981
1,P05346,Velachery,1855,13-03-2010,3.0,2.0,5,Family,No,18-03-1988,...,4.7,3.9,3.6,4.010,356321,77042,9630290,15418404.56,1.04,1.601032
2,P00219,Chrompet,1220,11-09-2014,2.0,1.0,4,Partial,No,12-09-2009,...,4.5,2.6,3.1,3.320,409027,198316,12394750,16963071.24,1.04,1.368569
3,P09105,Chrompet,1167,05-04-2007,1.0,1.0,3,Partial,No,12-04-1979,...,3.6,2.1,2.5,2.670,263152,33955,8488790,15287831.22,1.04,1.800944
4,P09679,Velachery,1847,13-03-2006,3.0,2.0,5,Family,No,15-03-1996,...,2.4,4.5,2.1,3.260,604809,235204,16800250,31466553.17,1.04,1.872981
5,P03377,Chrompet,771,06-04-2011,1.0,1.0,2,Adj Land,No,14-04-1977,...,2.9,3.7,4.0,3.550,257578,33236,8308970,12791277.57,1.04,1.539454
6,P09623,Velachery,1635,22-06-2006,2.0,1.0,4,Ab Normal,No,26-06-1991,...,3.1,3.1,3.3,3.160,323346,121255,8083650,15140524.85,1.04,1.872981

In [4]:
data.describe()

,INT_SQFT,N_BEDROOM,N_BATHROOM,N_ROOM,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,INF_PRICE,1+0.04,"POWER(Z,Y)"
count,7109.000000,7108.000000,7104.000000,7109.000000,7109.000000,7109.000000,7109.000000,7061.000000,7109.000000,7109.000000,7.109000e+03,7.109000e+03,7.109000e+03,7109.000000
mean,1382.073006,1.637029,1.213260,3.688704,3.517471,3.507244,3.485300,3.503254,376938.330708,141005.726544,1.089491e+07,1.767201e+07,1.040000e+00,1.621739
std,457.410902,0.802902,0.409639,1.019099,0.891972,0.897834,0.887266,0.527223,143070.662010,78768.093718,3.768603e+06,6.310658e+06,4.441204e-16,0.141455
min,500.000000,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,71177.000000,5055.000000,2.156875e+06,3.591355e+06,1.040000e+00,1.315932
25%,993.000000,1.000000,1.000000,3.000000,2.700000,2.700000,2.700000,3.130000,272406.000000,84219.000000,8.272100e+06,1.323023e+07,1.040000e+00,1.539454
50%,1373.000000,1.000000,1.000000,4.000000,3.500000,3.500000,3.500000,3.500000,349486.000000,127628.000000,1.033505e+07,1.687515e+07,1.040000e+00,1.601032
75%,1744.000000,2.000000,1.000000,4.000000,4.300000,4.300000,4.300000,3.890000,451562.000000,184506.000000,1.299390e+07,2.098167e+07,1.040000e+00,1.731676
max,2500.000000,4.000000,2.000000,6.000000,5.000000,5.000000,5.000000,4.970000,983922.000000,495405.000000,2.366734e+07,4.354230e+07,1.040000e+00,2.025817

In [5]:
data.shape

(7109, 24)

In [6]:
data.size

170616

In [7]:
data.info

<bound method DataFrame.info of       PRT_ID        AREA  INT_SQFT   DATE_SALE  N_BEDROOM  N_BATHROOM  N_ROOM  \
0     P09411  Anna Nagar      1986  19-12-2006        2.0         1.0       5
1     P05346   Velachery      1855  13-03-2010        3.0         2.0       5
2     P00219    Chrompet      1220  11-09-2014        2.0         1.0       4
3     P09105    Chrompet      1167  05-04-2007        1.0         1.0       3
4     P09679   Velachery      1847  13-03-2006        3.0         2.0       5
...      ...         ...       ...         ...        ...         ...     ...
7104  P05438     T Nagar      1733  24-02-2010        1.0         1.0       4
7105  P05042  Karapakkam       666  11-05-2010        1.0         1.0       2
7106  P10000   Velachery      1897  08-04-2004        3.0         2.0       5
7107  P06508  Karapakkam       787  03-08-2009        1.0         1.0       2
7108  P09794   Velachery      1896  13-07-2005        3.0         2.0       5

      SALE_COND PARK_FACIL  DATE_BUILD  ... QS_ROOMS QS_BATHROOM QS_BEDROOM  \
0     Ab Normal         No  22-12-1995  ...      4.9         4.2        2.5
1        Family         No  18-03-1988  ...      4.7         3.9        3.6
2       Partial         No  12-09-2009  ...      4.5         2.6        3.1
3       Partial         No  12-04-1979  ...      3.6         2.1        2.5
4        Family         No  15-03-1996  ...      2.4         4.5        2.1
...         ...        ...         ...  ...      ...         ...        ...
7104  Ab Normal        Yes  02-03-1985  ...      3.4         3.7        2.1
7105   Adj Land        Yes  20-05-1974  ...      3.2         4.4        2.5
7106     Family        Yes  11-04-1995  ...      3.6         4.5        3.3
7107    Partial        Yes  11-08-1977  ...      4.6         3.8        4.1
7108    Partial        Yes  24-07-1961  ...      3.1         3.5        4.3

     QS_OVERALL  REG_FEE  COMMIS  SALES_PRICE     INF_PRICE  1+0.04  \
0         3.765   760122  304049     21717770  4.067698e+07    1.04
1         4.010   356321   77042      9630290  1.541840e+07    1.04
2         3.320   409027  198316     12394750  1.696307e+07    1.04
3         2.670   263152   33955      8488790  1.528783e+07    1.04
4         3.260   604809  235204     16800250  3.146655e+07    1.04
...         ...      ...     ...          ...           ...     ...
7104      2.890   702058  312026     19501600  3.122269e+07    1.04
7105      3.280   273317   74541      6211750  9.945212e+06    1.04
7106      3.920   346191  205551     10818480  2.191626e+07    1.04
7107      4.160   425350  119098      8507000  1.416478e+07    1.04
7108      3.640   349177   79812      9976480  1.943319e+07    1.04

      POWER(Z,Y)
0       1.872981
1       1.601032
2       1.368569
3       1.800944
4       1.872981
...          ...
7104    1.601032
7105    1.601032
7106    2.025817
7107    1.665074
7108    1.947900

[7109 rows x 24 columns]>

In [8]:
data['DATE_SALE'] = pd.to_datetime(data['DATE_SALE'])
data['DATE_BUILD'] = pd.to_datetime(data['DATE_BUILD'])
data['buildage']=(data["DATE_SALE"]-data["DATE_BUILD"]).dt.days//365
data.head(5)

C:\Users\HP\AppData\Local\Temp\ipykernel_12796\297885064.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['DATE_SALE'] = pd.to_datetime(data['DATE_SALE'])
C:\Users\HP\AppData\Local\Temp\ipykernel_12796\297885064.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['DATE_BUILD'] = pd.to_datetime(data['DATE_BUILD'])

,PRT_ID,AREA,INT_SQFT,DATE_SALE,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,...,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,INF_PRICE,1+0.04,"POWER(Z,Y)",buildage
0,P09411,Anna Nagar,1986,2006-12-19,2.0,1.0,5,Ab Normal,No,1995-12-22,...,4.2,2.5,3.765,760122,304049,21717770,40676975.91,1.04,1.872981,11
1,P05346,Velachery,1855,2010-03-13,3.0,2.0,5,Family,No,1988-03-18,...,3.9,3.6,4.010,356321,77042,9630290,15418404.56,1.04,1.601032,22
2,P00219,Chrompet,1220,2014-09-11,2.0,1.0,4,Partial,No,2009-09-12,...,2.6,3.1,3.320,409027,198316,12394750,16963071.24,1.04,1.368569,5
3,P09105,Chrompet,1167,2007-04-05,1.0,1.0,3,Partial,No,1979-04-12,...,2.1,2.5,2.670,263152,33955,8488790,15287831.22,1.04,1.800944,28
4,P09679,Velachery,1847,2006-03-13,3.0,2.0,5,Family,No,1996-03-15,...,4.5,2.1,3.260,604809,235204,16800250,31466553.17,1.04,1.872981,10

In [9]:
data['AREA'].unique()

array(['Anna Nagar', 'Velachery', 'Chrompet', 'KK Nagar', 'T Nagar',
       'Adyar', 'Karapakkam'], dtype=object)

In [10]:
data.duplicated().sum()

np.int64(0)

In [11]:
data.isnull().sum()

PRT_ID            0
AREA              0
INT_SQFT          0
DATE_SALE         0
N_BEDROOM         1
N_BATHROOM        5
N_ROOM            0
SALE_COND         0
PARK_FACIL        0
DATE_BUILD        0
BUILDTYPE         0
UTILITY_AVAIL     0
STREET            0
MZZONE            0
QS_ROOMS          0
QS_BATHROOM       0
QS_BEDROOM        0
QS_OVERALL       48
REG_FEE           0
COMMIS            0
SALES_PRICE       0
INF_PRICE         0
1+0.04            0
POWER(Z,Y)        0
buildage          0
dtype: int64

In [12]:
data1=data.drop(["INF_PRICE","1+0.04","POWER(Z,Y)","PRT_ID"],axis=1)
data1

,AREA,INT_SQFT,DATE_SALE,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,...,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,buildage
0,Anna Nagar,1986,2006-12-19,2.0,1.0,5,Ab Normal,No,1995-12-22,Commercial,...,Gravel,RH,4.9,4.2,2.5,3.765,760122,304049,21717770,11
1,Velachery,1855,2010-03-13,3.0,2.0,5,Family,No,1988-03-18,Others,...,Paved,I,4.7,3.9,3.6,4.010,356321,77042,9630290,22
2,Chrompet,1220,2014-09-11,2.0,1.0,4,Partial,No,2009-09-12,Commercial,...,No Access,RH,4.5,2.6,3.1,3.320,409027,198316,12394750,5
3,Chrompet,1167,2007-04-05,1.0,1.0,3,Partial,No,1979-04-12,Others,...,No Access,RL,3.6,2.1,2.5,2.670,263152,33955,8488790,28
4,Velachery,1847,2006-03-13,3.0,2.0,5,Family,No,1996-03-15,Commercial,...,Gravel,RM,2.4,4.5,2.1,3.260,604809,235204,16800250,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104,T Nagar,1733,2010-02-24,1.0,1.0,4,Ab Normal,Yes,1985-03-02,Commercial,...,No Access,RL,3.4,3.7,2.1,2.890,702058,312026,19501600,25
7105,Karapakkam,666,2010-05-11,1.0,1.0,2,Adj Land,Yes,1974-05-20,Others,...,Gravel,I,3.2,4.4,2.5,3.280,273317,74541,6211750,36
7106,Velachery,1897,2004-04-08,3.0,2.0,5,Family,Yes,1995-04-11,Others,...,No Access,RH,3.6,4.5,3.3,3.920,346191,205551,10818480,9
7107,Karapakkam,787,2009-08-03,1.0,1.0,2,Partial,Yes,1977-08-11,Commercial,...,Paved,RL,4.6,3.8,4.1,4.160,425350,119098,8507000,32
7108,Velachery,1896,2005-07-13,3.0,2.0,5,Partial,Yes,1961-07-24,Others,...,Paved,I,3.1,3.5,4.3,3.640,349177,79812,9976480,44

In [13]:
corr_area_and_price=data1["INT_SQFT"].corr(data1["SALES_PRICE"])
corr_area_and_price

np.float64(0.6121248760738687)

In [14]:
l_e=le()
l_e

LabelEncoder()

In [15]:
data1["STREET"]=l_e.fit_transform(data1["STREET"])
data1.head(5)

,AREA,INT_SQFT,DATE_SALE,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,...,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,buildage
0,Anna Nagar,1986,2006-12-19,2.0,1.0,5,Ab Normal,No,1995-12-22,Commercial,...,0,RH,4.9,4.2,2.5,3.765,760122,304049,21717770,11
1,Velachery,1855,2010-03-13,3.0,2.0,5,Family,No,1988-03-18,Others,...,2,I,4.7,3.9,3.6,4.010,356321,77042,9630290,22
2,Chrompet,1220,2014-09-11,2.0,1.0,4,Partial,No,2009-09-12,Commercial,...,1,RH,4.5,2.6,3.1,3.320,409027,198316,12394750,5
3,Chrompet,1167,2007-04-05,1.0,1.0,3,Partial,No,1979-04-12,Others,...,1,RL,3.6,2.1,2.5,2.670,263152,33955,8488790,28
4,Velachery,1847,2006-03-13,3.0,2.0,5,Family,No,1996-03-15,Commercial,...,0,RM,2.4,4.5,2.1,3.260,604809,235204,16800250,10

In [16]:
data1["AREA"]=l_e.fit_transform(data1["AREA"])
data1.head(5)

,AREA,INT_SQFT,DATE_SALE,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,...,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,buildage
0,1,1986,2006-12-19,2.0,1.0,5,Ab Normal,No,1995-12-22,Commercial,...,0,RH,4.9,4.2,2.5,3.765,760122,304049,21717770,11
1,6,1855,2010-03-13,3.0,2.0,5,Family,No,1988-03-18,Others,...,2,I,4.7,3.9,3.6,4.010,356321,77042,9630290,22
2,2,1220,2014-09-11,2.0,1.0,4,Partial,No,2009-09-12,Commercial,...,1,RH,4.5,2.6,3.1,3.320,409027,198316,12394750,5
3,2,1167,2007-04-05,1.0,1.0,3,Partial,No,1979-04-12,Others,...,1,RL,3.6,2.1,2.5,2.670,263152,33955,8488790,28
4,6,1847,2006-03-13,3.0,2.0,5,Family,No,1996-03-15,Commercial,...,0,RM,2.4,4.5,2.1,3.260,604809,235204,16800250,10

In [17]:
data1["SALE_COND"]=l_e.fit_transform(data1["SALE_COND"])
data1.head(5)

,AREA,INT_SQFT,DATE_SALE,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,...,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,buildage
0,1,1986,2006-12-19,2.0,1.0,5,0,No,1995-12-22,Commercial,...,0,RH,4.9,4.2,2.5,3.765,760122,304049,21717770,11
1,6,1855,2010-03-13,3.0,2.0,5,2,No,1988-03-18,Others,...,2,I,4.7,3.9,3.6,4.010,356321,77042,9630290,22
2,2,1220,2014-09-11,2.0,1.0,4,4,No,2009-09-12,Commercial,...,1,RH,4.5,2.6,3.1,3.320,409027,198316,12394750,5
3,2,1167,2007-04-05,1.0,1.0,3,4,No,1979-04-12,Others,...,1,RL,3.6,2.1,2.5,2.670,263152,33955,8488790,28
4,6,1847,2006-03-13,3.0,2.0,5,2,No,1996-03-15,Commercial,...,0,RM,2.4,4.5,2.1,3.260,604809,235204,16800250,10

In [18]:
data1["PARK_FACIL"]=l_e.fit_transform(data1["PARK_FACIL"])
data1.head(5)

,AREA,INT_SQFT,DATE_SALE,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,...,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,buildage
0,1,1986,2006-12-19,2.0,1.0,5,0,0,1995-12-22,Commercial,...,0,RH,4.9,4.2,2.5,3.765,760122,304049,21717770,11
1,6,1855,2010-03-13,3.0,2.0,5,2,0,1988-03-18,Others,...,2,I,4.7,3.9,3.6,4.010,356321,77042,9630290,22
2,2,1220,2014-09-11,2.0,1.0,4,4,0,2009-09-12,Commercial,...,1,RH,4.5,2.6,3.1,3.320,409027,198316,12394750,5
3,2,1167,2007-04-05,1.0,1.0,3,4,0,1979-04-12,Others,...,1,RL,3.6,2.1,2.5,2.670,263152,33955,8488790,28
4,6,1847,2006-03-13,3.0,2.0,5,2,0,1996-03-15,Commercial,...,0,RM,2.4,4.5,2.1,3.260,604809,235204,16800250,10

In [19]:
data1["BUILDTYPE"]=l_e.fit_transform(data1["BUILDTYPE"])
data1.head(5)

,AREA,INT_SQFT,DATE_SALE,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,...,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,buildage
0,1,1986,2006-12-19,2.0,1.0,5,0,0,1995-12-22,0,...,0,RH,4.9,4.2,2.5,3.765,760122,304049,21717770,11
1,6,1855,2010-03-13,3.0,2.0,5,2,0,1988-03-18,2,...,2,I,4.7,3.9,3.6,4.010,356321,77042,9630290,22
2,2,1220,2014-09-11,2.0,1.0,4,4,0,2009-09-12,0,...,1,RH,4.5,2.6,3.1,3.320,409027,198316,12394750,5
3,2,1167,2007-04-05,1.0,1.0,3,4,0,1979-04-12,2,...,1,RL,3.6,2.1,2.5,2.670,263152,33955,8488790,28
4,6,1847,2006-03-13,3.0,2.0,5,2,0,1996-03-15,0,...,0,RM,2.4,4.5,2.1,3.260,604809,235204,16800250,10

In [20]:
data1["UTILITY_AVAIL"]=l_e.fit_transform(data1["UTILITY_AVAIL"])
data1.head(5)

,AREA,INT_SQFT,DATE_SALE,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,...,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,buildage
0,1,1986,2006-12-19,2.0,1.0,5,0,0,1995-12-22,0,...,0,RH,4.9,4.2,2.5,3.765,760122,304049,21717770,11
1,6,1855,2010-03-13,3.0,2.0,5,2,0,1988-03-18,2,...,2,I,4.7,3.9,3.6,4.010,356321,77042,9630290,22
2,2,1220,2014-09-11,2.0,1.0,4,4,0,2009-09-12,0,...,1,RH,4.5,2.6,3.1,3.320,409027,198316,12394750,5
3,2,1167,2007-04-05,1.0,1.0,3,4,0,1979-04-12,2,...,1,RL,3.6,2.1,2.5,2.670,263152,33955,8488790,28
4,6,1847,2006-03-13,3.0,2.0,5,2,0,1996-03-15,0,...,0,RM,2.4,4.5,2.1,3.260,604809,235204,16800250,10

In [21]:
data1["MZZONE"]=l_e.fit_transform(data1["MZZONE"])
data1.head(5)

,AREA,INT_SQFT,DATE_SALE,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,...,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,buildage
0,1,1986,2006-12-19,2.0,1.0,5,0,0,1995-12-22,0,...,0,3,4.9,4.2,2.5,3.765,760122,304049,21717770,11
1,6,1855,2010-03-13,3.0,2.0,5,2,0,1988-03-18,2,...,2,2,4.7,3.9,3.6,4.010,356321,77042,9630290,22
2,2,1220,2014-09-11,2.0,1.0,4,4,0,2009-09-12,0,...,1,3,4.5,2.6,3.1,3.320,409027,198316,12394750,5
3,2,1167,2007-04-05,1.0,1.0,3,4,0,1979-04-12,2,...,1,4,3.6,2.1,2.5,2.670,263152,33955,8488790,28
4,6,1847,2006-03-13,3.0,2.0,5,2,0,1996-03-15,0,...,0,5,2.4,4.5,2.1,3.260,604809,235204,16800250,10

In [22]:
scs=ss()
scs

StandardScaler()

In [23]:
data1["INT_SQFT"]=scs.fit_transform(data1[["INT_SQFT"]])
data1.head()

,AREA,INT_SQFT,DATE_SALE,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,...,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,buildage
0,1,1.320409,2006-12-19,2.0,1.0,5,0,0,1995-12-22,0,...,0,3,4.9,4.2,2.5,3.765,760122,304049,21717770,11
1,6,1.033994,2010-03-13,3.0,2.0,5,2,0,1988-03-18,2,...,2,2,4.7,3.9,3.6,4.010,356321,77042,9630290,22
2,2,-0.354352,2014-09-11,2.0,1.0,4,4,0,2009-09-12,0,...,1,3,4.5,2.6,3.1,3.320,409027,198316,12394750,5
3,2,-0.470230,2007-04-05,1.0,1.0,3,4,0,1979-04-12,2,...,1,4,3.6,2.1,2.5,2.670,263152,33955,8488790,28
4,6,1.016503,2006-03-13,3.0,2.0,5,2,0,1996-03-15,0,...,0,5,2.4,4.5,2.1,3.260,604809,235204,16800250,10

In [24]:
data1["SALES_PRICE"]=scs.fit_transform(data1[["SALES_PRICE"]])
data1.head()

,AREA,INT_SQFT,DATE_SALE,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,...,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,buildage
0,1,1.320409,2006-12-19,2.0,1.0,5,0,0,1995-12-22,0,...,0,3,4.9,4.2,2.5,3.765,760122,304049,2.872051,11
1,6,1.033994,2010-03-13,3.0,2.0,5,2,0,1988-03-18,2,...,2,2,4.7,3.9,3.6,4.010,356321,77042,-0.335591,22
2,2,-0.354352,2014-09-11,2.0,1.0,4,4,0,2009-09-12,0,...,1,3,4.5,2.6,3.1,3.320,409027,198316,0.398011,5
3,2,-0.470230,2007-04-05,1.0,1.0,3,4,0,1979-04-12,2,...,1,4,3.6,2.1,2.5,2.670,263152,33955,-0.638509,28
4,6,1.016503,2006-03-13,3.0,2.0,5,2,0,1996-03-15,0,...,0,5,2.4,4.5,2.1,3.260,604809,235204,1.567094,10

In [25]:
data2=data1.drop(["DATE_BUILD","DATE_SALE","REG_FEE","COMMIS","QS_ROOMS","QS_BATHROOM","QS_BEDROOM","QS_OVERALL","UTILITY_AVAIL","SALE_COND"],axis=1)
data2

,AREA,INT_SQFT,N_BEDROOM,N_BATHROOM,N_ROOM,PARK_FACIL,BUILDTYPE,STREET,MZZONE,SALES_PRICE,buildage
0,1,1.320409,2.0,1.0,5,0,0,0,3,2.872051,11
1,6,1.033994,3.0,2.0,5,0,2,2,2,-0.335591,22
2,2,-0.354352,2.0,1.0,4,0,0,1,3,0.398011,5
3,2,-0.470230,1.0,1.0,3,0,2,1,4,-0.638509,28
4,6,1.016503,3.0,2.0,5,0,0,0,5,1.567094,10
...,...,...,...,...,...,...,...,...,...,...,...
7104,5,0.767257,1.0,1.0,4,1,0,1,4,2.283948,25
7105,4,-1.565602,1.0,1.0,2,1,2,0,2,-1.242765,36
7106,6,1.125822,3.0,2.0,5,1,2,1,3,-0.020282,9
7107,4,-1.301051,1.0,1.0,2,1,0,2,4,-0.633677,32
7108,6,1.123636,3.0,2.0,5,1,2,2,2,-0.243723,44

In [26]:
data2.columns

Index(['AREA', 'INT_SQFT', 'N_BEDROOM', 'N_BATHROOM', 'N_ROOM', 'PARK_FACIL',
       'BUILDTYPE', 'STREET', 'MZZONE', 'SALES_PRICE', 'buildage'],
      dtype='object')

In [27]:
relation2=data2[['AREA', 'INT_SQFT', 'N_BEDROOM', 'N_BATHROOM', 'N_ROOM',
       'PARK_FACIL','BUILDTYPE', 'STREET', 'MZZONE',
       'SALES_PRICE', 'buildage']].corr()
relation2

,AREA,INT_SQFT,N_BEDROOM,N_BATHROOM,N_ROOM,PARK_FACIL,BUILDTYPE,STREET,MZZONE,SALES_PRICE,buildage
AREA,1.000000,0.351331,0.361773,0.221975,0.279363,0.010383,-0.009517,0.014482,-0.154106,-0.019138,0.181085
INT_SQFT,0.351331,1.000000,0.786348,0.515390,0.951279,0.004618,-0.006329,0.008341,0.143226,0.612125,-0.012776
N_BEDROOM,0.361773,0.786348,1.000000,0.755214,0.840286,-0.009471,-0.002262,0.003908,0.050060,0.330999,-0.045950
N_BATHROOM,0.221975,0.515390,0.755214,1.000000,0.568688,-0.013970,-0.003151,-0.009376,-0.046868,0.108884,-0.020130
N_ROOM,0.279363,0.951279,0.840286,0.568688,1.000000,-0.000934,-0.007127,0.000194,0.163697,0.602760,-0.033448
PARK_FACIL,0.010383,0.004618,-0.009471,-0.013970,-0.000934,1.000000,-0.006436,0.007567,-0.007192,0.146428,-0.009062
BUILDTYPE,-0.009517,-0.006329,-0.002262,-0.003151,-0.007127,-0.006436,1.000000,-0.010680,-0.016594,-0.436276,0.003686
STREET,0.014482,0.008341,0.003908,-0.009376,0.000194,0.007567,-0.010680,1.000000,-0.002052,-0.042652,0.004294
MZZONE,-0.154106,0.143226,0.050060,-0.046868,0.163697,-0.007192,-0.016594,-0.002052,1.000000,0.427789,-0.110962
SALES_PRICE,-0.019138,0.612125,0.330999,0.108884,0.602760,0.146428,-0.436276,-0.042652,0.427789,1.000000,-0.119037
buildage,0.181085,-0.012776,-0.045950,-0.020130,-0.033448,-0.009062,0.003686,0.004294,-0.110962,-0.119037,1.000000

In [29]:
data2.isnull().sum()

AREA           0
INT_SQFT       0
N_BEDROOM      1
N_BATHROOM     5
N_ROOM         0
PARK_FACIL     0
BUILDTYPE      0
STREET         0
MZZONE         0
SALES_PRICE    0
buildage       0
dtype: int64

In [30]:
data2=data2.fillna(0)
data2

,AREA,INT_SQFT,N_BEDROOM,N_BATHROOM,N_ROOM,PARK_FACIL,BUILDTYPE,STREET,MZZONE,SALES_PRICE,buildage
0,1,1.320409,2.0,1.0,5,0,0,0,3,2.872051,11
1,6,1.033994,3.0,2.0,5,0,2,2,2,-0.335591,22
2,2,-0.354352,2.0,1.0,4,0,0,1,3,0.398011,5
3,2,-0.470230,1.0,1.0,3,0,2,1,4,-0.638509,28
4,6,1.016503,3.0,2.0,5,0,0,0,5,1.567094,10
...,...,...,...,...,...,...,...,...,...,...,...
7104,5,0.767257,1.0,1.0,4,1,0,1,4,2.283948,25
7105,4,-1.565602,1.0,1.0,2,1,2,0,2,-1.242765,36
7106,6,1.125822,3.0,2.0,5,1,2,1,3,-0.020282,9
7107,4,-1.301051,1.0,1.0,2,1,0,2,4,-0.633677,32
7108,6,1.123636,3.0,2.0,5,1,2,2,2,-0.243723,44

In [31]:
data2.isnull().sum()

AREA           0
INT_SQFT       0
N_BEDROOM      0
N_BATHROOM     0
N_ROOM         0
PARK_FACIL     0
BUILDTYPE      0
STREET         0
MZZONE         0
SALES_PRICE    0
buildage       0
dtype: int64

In [34]:
X=data2.drop(["SALES_PRICE"],axis=1)
Y=data2[["SALES_PRICE"]]
X_train,X_test,Y_train,Y_test=tts(X,Y,test_size=0.30,random_state=70)
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((4976, 10), (2133, 10), (4976, 1), (2133, 1))

In [41]:
model_lr=LR()
model_lr
model_lr.fit(X_train,Y_train)

LinearRegression()

In [42]:
X_te=data2.drop(["SALES_PRICE"],axis=1)
Y_te=data2[["SALES_PRICE"]]
X_te,Y_te

(      AREA  INT_SQFT  N_BEDROOM  N_BATHROOM  N_ROOM  PARK_FACIL  BUILDTYPE  \
 0        1  1.320409        2.0         1.0       5           0          0
 1        6  1.033994        3.0         2.0       5           0          2
 2        2 -0.354352        2.0         1.0       4           0          0
 3        2 -0.470230        1.0         1.0       3           0          2
 4        6  1.016503        3.0         2.0       5           0          0
 ...    ...       ...        ...         ...     ...         ...        ...
 7104     5  0.767257        1.0         1.0       4           1          0
 7105     4 -1.565602        1.0         1.0       2           1          2
 7106     6  1.125822        3.0         2.0       5           1          2
 7107     4 -1.301051        1.0         1.0       2           1          0
 7108     6  1.123636        3.0         2.0       5           1          2

       STREET  MZZONE  buildage
 0          0       3        11
 1          2       2        22
 2          1       3         5
 3          1       4        28
 4          0       5        10
 ...      ...     ...       ...
 7104       1       4        25
 7105       0       2        36
 7106       1       3         9
 7107       2       4        32
 7108       2       2        44

 [7109 rows x 10 columns],
       SALES_PRICE
 0        2.872051
 1       -0.335591
 2        0.398011
 3       -0.638509
 4        1.567094
 ...           ...
 7104     2.283948
 7105    -1.242765
 7106    -0.020282
 7107    -0.633677
 7108    -0.243723

 [7109 rows x 1 columns])

In [43]:
Y_pred=model_lr.predict(X_te)
Y_pred

array([[ 1.75205494],
       [-0.83183232],
       [ 0.37702004],
       ...,
       [-0.21778436],
       [-0.49155785],
       [-0.61515648]])

In [44]:
r2_score=r2(Y_te,Y_pred) 
r2_score*100

79.0462143936869

In [45]:
mse1= mse(Y_te, Y_pred)   #error value
mse1*100

np.float64(20.9537856063131)

In [46]:
accuracy = 1-mse1   #accuracy value
accuracy*100

np.float64(79.0462143936869)